<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block styles %}
    {{ bootstrap.load_css() }}
  {% endblock %}
</head>
<body>
    <header>
        <nav class="header-nav left" id="mobile-nav-toggle">
            <button class="btn-header">
                <i class="icon-reorder"></i>
            </button>
        </nav>
        <h1><span data-bip-type="input" data-bip-attribute="name" data-bip-object="list" data-bip-original-content="My to-do list 09/27/2025" data-bip-skip-blur="false" data-bip-url="/3cmRM9MlzeEw" data-bip-value="My to-do list 09/27/2025" class="best_in_place" id="best_in_place_list_286272_name">My to-do list 09/27/2025</span></h1>
        <nav class="header-nav">
            <ul>
                <li>
                    <a class="btn-primary modal-toggle" data-list="3cmRM9MlzeEw" data-modal="#signup-modal" href="/3cmRM9MlzeEw/save"><i class="icon-circle"></i> Save<b> This List</b></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>