<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
      {% block styles %}
      {{ bootstrap.load_css() }}
      <link rel="stylesheet" href="../static/css/styles.css">

    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <footer class="text-center text-white bg-dark py-3 mt-5">
        <p class="mb-0">© 2025 Cafe & Wifi API | Built with Flask & Bootstrap</p>
    </footer>
  </body>
</html>